ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* element selector */
p {
  color: red;
}

/* class selector */
.note {
  font-size: 20px;
}

/* ID selector */
#id-selector-demo {
  color: green;
}

/* Attribute selector */
li[value="4"] {
  color: blue;
}

/* Universal selector */
* {
  text-align: center;
}